* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 15px 0;
}

p,
li {
    color: #444;
    font-size: 14px;
}

header,
.navbar {
    background-color: #EA5600;
}

.history h1 {
    text-align: center;
    font-size: 275%;
}

.history p {
    font-size: 150%;
}

.col-md-12 {
    text-align: center;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 75px;
}

.navbar-brand {
    padding: 0;
    color: #FFF;
}

.navbar-brand:hover {
    color: #FFF;
}

#navbar-links a {
    color: #FFF;
    text-align: center;
}

#navbar-links a:hover {
    transition: 0.5s;
    color: #515151;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

.nav-item.active {
    border-bottom: 3px solid #FFF;
}

/* Slider */
.container-fluid {
    padding: 0%;
}

#mainslider .carousel-inner img {
    opacity: 0%;
}

#mainSlider .carousel-inner,
#mainSlider .carousel-item {
    height: 80vh;
}

#mainSlider .carousel-caption {
    top: 30%;
}

#mainSlider .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

#mainSlider .carousel-caption p {
    font-size: 30px;
    font-weight: 300vh;
    margin-bottom: 100px;
    color: #FFF;
}

.main-btn {
    background-color: #EA5600;
    color: #FFF;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}

.img-fluid{
    margin: 5rem;
}

.main-btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border-color: #EA5600;
}

.carousel-indicators .active {
    background-color: #EA5600;
}

#about-area {
    background-color: #939393;
    color: #FFF;
}

#about-area h3 {
    color: #FFF;
    font-size: 30px;
    margin: 2rem;
}

#about-area p {
    font-size: 20px;
    margin: 2rem;
    color: #FFF;
}

.main-title {
    color: #444;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

.main-title::after {
    border-top: 2px solid #333;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}

.about-title {
    font-size: 17px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
}

#about-list {
    list-style: none;
    padding-left: 0;
}

#about-list li {
    line-height: 30px;
    /* Define altura da linha */
}

#about-list i {
    color: #4693b9;
    margin-right: 15px;
}

.service-box {
    text-align: justify;
    margin-bottom: 50px;
}

.service-box {
    margin-left: 14%;
}



.service-box h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

.service-box:hover>h4 {
    color: #4693b9;
}

.circle-box div {
    padding: 0 40px;
}

.progressbar-text {
    font-weight: bold;
    font-size: 32px;
}

#data-area p {
    color: #515151;
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
}

.card-body {
    text-align: center;
}

#apply-area {
    height: 500px;
}

#apply-area .container-fluid,
#apply-area .row {
    height: 100%;
}

#apply-area .apply-box {
    padding: 70px 50px;
    text-align: center;
}

#apply-btn {
    display: block;
    height: auto;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: transparent;
    border-color: #FFF;
}

#apply-btn:hover {
    border-color: #4693b9;
    background-color: #4693b9;
}

.project-box {
    margin-bottom: 30px;
}

#filter-btn-box {
    margin-bottom: 50px;
    text-align: center;
}

.container-fluid footer {
    background-color: #939393;
    padding: 40px;
}

@media(max-width: 600px) {

    .container {
        padding: 20px 0;
    }

    /* Ajusta a altura do carousel e dos itens do carousel */
    #mainSlider .carousel-inner,
    #mainSlider .carousel-item {
        height: auto;
    }

    /* Ajusta o tamanho do título */
    #mainSlider .carousel-caption h2 {
        font-size: 28px;
    }

    /* Ajusta o tamanho do parágrafo */
    #mainSlider .carousel-caption p {
        font-size: 18px;
        margin-bottom: 40px;
    }

    /* Ajusta a posição horizontal */
    .carousel-caption {
        left: 10%;
        right: 10%;
    }

    /* Ajusta a margem dos elementos */
    .col-md-4-project-box.dev {
        margin-right: 25%;
    }
}

/* Define tamanho para telas */
@media(max-width: 425px) {

    /* Ajusta a margem do carousel */
    #mainSlider {
        margin-top: 90px;
    }

    /* Ajusta a posição vertical*/
    #mainSlider .carousel-caption {
        top: 5%;
    }

    /* Ajusta o tamanho do título*/
    #mainSlider .carousel-caption h2 {
        font-size: 18px;
        margin-bottom: 40px;
    }

    /* Esconde o parágrafo*/
    #mainSlider .carousel-caption p {
        display: none;
    }

    /* Ajusta o tamanho do botão principal*/
    .carousel-caption .main-btn {
        font-size: 20px;
    }
}