body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

#logo {
    font-size: 24px;
}

#nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav ul li {
    display: inline-block;
    margin-left: 20px;
}

#nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

#nav ul li a:hover {
    color: red;
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    z-index: 1000;
    transition: background-color 0.3s;
}

.fixed #logo {
    font-size: 20px;
}

div .text h1{
    font-size: 200%;
    margin-left: 1%;
    display: flexbox;
}

div .text p{
    margin-left: 2%;
    font-size: 150%;
}

